@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Rubik:wght@400;500;700&display=swap");
:root {
  font-size: 10px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  outline: none;
}

*:focus,
*:active {
  outline: 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ol,
li {
  list-style: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font: 16px/1.4 'Poppins', sans-serif;
  background: #000;
  color: #fff;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.btn {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right top, from(#ec5046), to(#e702bf));
  background-image: linear-gradient(90deg, #ec5046 0%, #e702bf 100%);
  padding: 11px 31px;
  border-radius: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#e702bf), to(#ec5046));
  background-image: linear-gradient(90deg, #e702bf 0%, #ec5046 100%);
  border-radius: 30px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover::after {
  opacity: 1;
}

.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  background: #300D50;
  padding: 25px 0;
  z-index: 50;
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #300D50;
  z-index: 2;
}

.header__body {
  position: relative;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  margin-right: 20px;
  z-index: 3;
}

.header__logo img {
  display: block;
}

.header__menu {
  margin-left: auto;
}

.header__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

.header__list li {
  position: relative;
}

body.mouse .header__list li:hover .header-sub__list {
  visibility: visible;
  height: auto;
  top: 60px;
  opacity: 1;
}

body.mouse .header__list li:hover .arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.header__link {
  position: relative;
  display: inline-block;
  font: inherit;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__link.parent {
  margin: 0 20px 0 0;
}

.header__link:hover {
  color: #e702bf;
}

.header__link_active {
  color: #ec5046;
}

.header-sub__list {
  visibility: hidden;
  position: absolute;
  width: 250px;
  height: 0;
  top: 80px;
  left: 0;
  background-color: #2B0C47;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 20px;
  opacity: 0;
}

.header-sub__list > li {
  background-color: #2B0C47;
  padding: 5px 20px;
}

.header-sub__list > li:first-child {
  border-radius: 20px 20px 0 0;
}

.header-sub__list > li:last-child {
  border-radius: 0 0 20px 20px;
}

body.touch .header-sub__list.open {
  visibility: visible;
  height: auto;
  opacity: 1;
}

.header-sub__link {
  display: block;
  font: inherit;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-sub__link:hover {
  color: #e702bf;
}

.header__btn {
  margin-left: 20px;
  z-index: 10;
}

.header__burger {
  display: none;
}

.bar-fixed {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  -webkit-animation: fixedMenu 1s forwards;
          animation: fixedMenu 1s forwards;
  background-color: rgba(51, 51, 51, 0.8);
  padding: 10px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@-webkit-keyframes fixedMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fixedMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.arrow {
  position: absolute;
  top: 15px;
  right: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.arrow.active {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.content {
  color: #272727;
  padding-top: 50px;
}

.content p {
  margin-bottom: 10px;
}

#toTop {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  display: none;
  background: #350E59;
  font-size: 22px;
  line-height: 50px;
  text-align: center;
  color: #e702bf;
  /* border: 1px solid #ECF5FE; */
  border-radius: 50%;
  z-index: 10;
}

#toTop:focus,
#toTop:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 1100px) {
  body.lock {
    overflow: hidden;
  }
  .header {
    padding: 10px 0;
    background: #2B0C47;
  }
  .header::before {
    background: #2B0C47;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #300D50;
    padding-top: 70px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__menu.active {
    top: 30px;
    padding-bottom: 50px;
  }
  .header__list {
    display: block;
    text-align: center;
  }
  .header__list > li {
    margin: 0 auto 10px;
  }
  .header__list > li:last-child {
    margin-bottom: 39px;
  }
  .header__link {
    padding: 6px 15px;
  }
  .header__link.parent {
    margin: 0;
  }
  .header-sub__list {
    position: static;
    width: 100%;
    text-align: center;
    padding: 5px 0 0 0;
    border-radius: 0;
    -webkit-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
  }
  .header-sub__link {
    padding: 10px;
  }
  .header__btn {
    margin: 0 20px 0 auto;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger.active::before {
    top: 9px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__burger.active::after {
    bottom: 9px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__burger span {
    position: absolute;
    top: 9px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .arrow {
    position: relative;
    top: 0;
    -webkit-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
  }
}

@media (max-width: 400px) {
  .header__logo {
    width: 100px;
    margin-right: 0;
  }
  .header__btn {
    margin: 0 10px;
  }
  .btn-token {
    padding: 10px 20px;
  }
}

.intro {
  min-height: 969px;
  background-image: url(../img/intro-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 305px 0 100px;
}

.intro-info {
  max-width: 490px;
}

.intro-info__title {
  font-family: "Poppins";
  font-size: 4.8rem;
  line-height: 140%;
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
}

.intro-info__subtitle {
  font-family: "Poppins";
  font-size: 2.4rem;
  line-height: 140%;
  font-weight: 700;
  color: #2DE4C1;
  margin-bottom: 30px;
}

.intro-info__text {
  font-family: "Rubik";
  font-size: 2rem;
  line-height: 160%;
  font-weight: 400;
  color: #fff;
  margin-bottom: 39px;
}

.intro-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-actions__btn {
  margin-right: 20px;
}

.intro-actions__play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-actions__present {
  font-family: "Poppins";
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 600;
  color: #fff;
  margin-left: 20px;
}

.pulse {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, right top, from(#ec5046), to(#e702bf));
  background-image: linear-gradient(90deg, #ec5046 0%, #e702bf 100%);
  z-index: 5;
  cursor: pointer;
}

.pulse .fa-play-circle {
  font-size: 22px;
  color: #fff;
}

.pulse::before, .pulse::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, right top, from(#ec5046), to(#e702bf));
  background-image: linear-gradient(90deg, #ec5046 0%, #e702bf 100%);
  z-index: -1;
  opacity: 0.7;
}

.pulse:before {
  -webkit-animation: pulse 3s ease-out infinite;
          animation: pulse 3s ease-out infinite;
}

.pulse:after {
  -webkit-animation: pulse 3s 0.7s ease-out infinite;
          animation: pulse 3s 0.7s ease-out infinite;
}

@-webkit-keyframes pulse {
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulse {
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

.intro-actions__play:focus,
.intro-actions__play:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (max-width: 1366px) {
  .intro {
    min-height: 0;
    height: auto;
    padding: 130px 0 170px;
  }
}

@media (max-width: 768px) {
  .intro {
    background-image: url(../img/intro-bg-mobile.jpg);
  }
  .intro-info {
    margin: 0 auto;
    text-align: center;
  }
  .intro-actions {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 500px) {
  .intro {
    padding: 30px 0 60px;
  }
  .intro-info__title {
    font-size: 3.8rem;
  }
  .intro-info__subtitle {
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .intro-actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro-actions__btn {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .intro-actions__play {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro-actions__present {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-left: 0;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */