.intro {
  min-height: 969px;
  background-image: url(../img/intro-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 305px 0 100px;

  &__container {}
}

.intro-info {
  max-width: 490px;

  &__title {
    @include font ("Poppins", 4.8rem, 140%, 700, $f);
    margin-bottom: 15px;
  }

  &__subtitle {
    @include font ("Poppins", 2.4rem, 140%, 700, $green);
    margin-bottom: 30px;
  }

  &__text {
    @include font ("Rubik", 2rem, 160%, 400, $f);
    margin-bottom: 39px;
  }
}

.intro-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__btn {
    margin-right: 20px;
  }

  &__play {
    display: flex;
    align-items: center;
  }

  &__present {
    @include font ('Poppins', 1.8rem, 150%, 600, $f);
    margin-left: 20px;
  }
}


.pulse {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: linear-gradient(90deg, #ec5046 0%, #e702bf 100%);
  z-index: 5;
  cursor: pointer;

  & .fa-play-circle {
    font-size: 22px;
    color: #fff;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: linear-gradient(90deg, #ec5046 0%, #e702bf 100%);
    z-index: -1;
    opacity: 0.7;
    ;
  }

  &:before {
    animation: pulse 3s ease-out infinite;
  }

  &:after {
    animation: pulse 3s 0.7s ease-out infinite;
  }
}

@keyframes pulse {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.intro-actions__play:focus,
.intro-actions__play:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

//Адаптив
@media (max-width: 1366px) {
  .intro {
    min-height: 0;
    height: auto;
    padding: 130px 0 170px;
  }
}

@media (max-width: 768px) {
  .intro {
    background-image: url(../img/intro-bg-mobile.jpg);
  }

  .intro-info {
    margin: 0 auto;
    text-align: center;
  }

  .intro-actions {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .intro {
    padding: 30px 0 60px;
  }

  .intro-info {
    &__title {
      font-size: 3.8rem;
    }

    &__subtitle {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 500px) {
  .intro-actions {
    flex-direction: column;

    &__btn {
      margin-right: 0;
      margin-bottom: 30px;
    }

    &__play {
      flex-direction: column;
      margin-bottom: 20px;
    }

    &__present {
      margin-left: 0;
    }
  }



}