//Переменные (цвета)
$f: #fff;
$purple: #300D50;
$m-purple: #350E59;
$d-purple: #2B0C47;
$green: #2DE4C1;
$tomato: #ec5046;
$pink: #e702bf;

//Миксин
@mixin font($ff, $fz, $lh, $fw, $c) {
  font-family: $ff;
  font-size: $fz;
  line-height: $lh;
  font-weight: $fw;
  color: $c;
}

.secure {
  background: $purple;

  &__container {}

  &__title {
    max-width: 480px;
    margin: 0 auto 20px;
    text-align: center;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px;
  }

  &__column {
    position: relative;
    flex: 1 1 calc(33.333% - 30px);
    text-align: center;
    background: $d-purple;
    padding: 50px 40px 60px;
    margin: 10px 10px 30px;
    border-radius: 20px;
    transition: 0.5s;

    &:hover {
      box-shadow: 0 0 100px 0px rgba(96, 52, 167, 0.5);
      z-index: 10;
    }
  }

  &__item {}

  &__btn {
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
  }
}

.item-secure {

  &__img {
    margin-bottom: 30px;
  }

  &__title {
    @include font ("Poppins", 2rem, 160%, 700, $f);
    margin-bottom: 20px;
  }

  &__info {
    @include font ("Rubik", 1.6rem, 200%, 400, $f);
  }
}

@media (max-width: 1100px) {
  .secure__column {
    flex: 1 1 calc(50% - 30px);
  }
}

@media (max-width: 768px) {
  .secure__column {
    flex: 1 1 100%;
  }
}

@media (max-width: 500px) {
  .secure__column {
    padding: 20px 10px 40px;
  }
}