.token {

  &__container {}

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;

    @media (max-width: 1180px) {
      display: block;
    }
  }

  &__item {
    flex: 1 1 calc(50% - 30px);
    background: $d-purple;
    border-radius: 30px;
    margin: 0 15px 20px;
    padding: 35px;
  }
}

.item-token {

  &__title {
    @include font('Poppins', 3rem, 130%, 700, $f);
    margin-bottom: 40px;

    @media (max-width: 1180px) {
      text-align: center;
    }

    @media (max-width: 500px) {
      margin-bottom: 0;
    }
  }
}

#myChart,
#myChart2 {
  max-width: 500px;
  max-height: 250px;

  @media (max-width: 1180px) {
    width: 100%;
    margin: 0 auto;
  }
}

.charts-token {}

.charts-funds {}