.why {
  &.section {
    padding-bottom: 60px;
  }

  &__title {
    text-align: center;
    margin-bottom: 36px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &__col {
    width: calc(50% - 30px);
    margin: 0 15px 20px;
    padding-left: 20px;
  }

  &__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.item-why {

  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__img {
    flex: 0 1 30%;
    padding-right: 20px;

    & img {
      padding-left: 20px;
    }
  }

  &__info {
    flex: 0 1 69%;
  }

  &__title {
    @include font ("Poppins", 2rem, 160%, 700, $f);
    margin-bottom: 20px;
  }

  &__text {
    @include font ("Rubik", 1.6rem, 200%, 400, $f);
    margin-bottom: 20px;
  }
}

@media (max-width: 1100px) {
  .why__col {
    padding-left: 0;
  }
}

@media (max-width: 768px) {

  .why {
    padding-top: 50px;

    &__col {
      width: 70%;
      margin: 0 auto;
    }
  }

  .item-why {
    &__row {
      display: block;
      text-align: center;
    }

    &__img {
      & img {
        padding-left: 0;
      }
    }
  }
}

@media (max-width: 500px) {
  .why {
    padding-top: 50px;

    &.section {
      padding-top: 0;
    }

    &__row {
      margin: 0;
    }

    &__col {
      width: 100%;
      margin: 0 auto;
    }
  }
}